@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    
    .table-responsive {
        @apply block overflow-x-auto whitespace-nowrap;
    }
}